.section__subheader {
  background-color: white;
  margin: auto;
  margin-bottom: 2px;
  padding: 20px;
  padding-left: 20px;
}

.section__form {
  display: grid;
  background-color: white;
  padding: 20px;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

.section__formField {
  border: 1px solid #ccc;
  padding: 10px
}

@media (max-width: 767px) {
  .section {
    margin: 10px;
  }

  .section__form {
    display: flex;
    flex-wrap: wrap;
  }

  .section__formField {
    width: 100%;
    margin-bottom: -5px;
  }
}