.sectionList {
    max-width: 1000px;
    border-bottom: 20px solid white;
    background-color: white;
}

.sectionList__subheader {
    background-color: white;
    margin: 20px auto 2px auto;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(243, 242, 242);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-area: 10px;
}

.sectionList__item {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid rgb(243, 242, 242);
    margin-right: 40px;
    font-size: 16px;
    display:grid;
    grid-template-columns: 40px 2fr 40px;
    align-items: center;
}

.sectionList__item--hidden {
    display: none;
}

.sectionList__value { 
 display: flex;
 align-items: center; 
}

.sectionList__item--done {
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .sectionList {
        margin: 10px;
    }

    .sectionList__item {
        margin-right: 0px;
    }

    .sectionList__task {
        padding: 0px 5px;
    }
    .sectionList__subheader {
       display: grid;
       grid-template-columns: 1fr;
    }
}
